@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* #navigation.active {
    @apply left-0 w-full sm:w-15
  } */
  /* #main.active {
    @apply left-15 w-[calc(100%-60px)]
  } */
  /* #toggle-menu.active {
    @apply text-white sm:text-inherit left-[calc(100%-60px)] sm:left-auto fixed sm:static
  } */
  /* animation padding */
  /* #navigation li:not(:nth-child(1)) {
    @apply hover:px-5 sm:hover:px-0 lg:hover:pl-5 transition-all
  }
  #navigation.active li:not(:nth-child(1)) {
    @apply hover:px-5 sm:hover:px-0
  } */
  /* #navigation.active .navigation-item {
    @apply before:shadow-transparent after:shadow-transparent sm:before:shadow-white sm:after:shadow-white rounded-tr-full rounded-br-full
  } */
  /* scroll */
  html ::-webkit-scrollbar {
    @apply bg-neutral-100 w-2 h-2;
  }
  html ::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-fuchsia-400;
  }
}
@layer components {
  .navigation-item {
    @apply flex items-center relative w-full

    rounded-tl-full rounded-bl-full cursor-pointer hover:bg-white hover:text-fuchsia-400

    before:pointer-events-none before:will-change-[box-shadow]
    before:absolute before:-top-15 before:right-0 before:w-15 before:h-15 before:bg-transparent before:rounded-full before:shadow-white hover:before:shadow-rounded-top

    after:pointer-events-none after:will-change-[box-shadow]
    after:absolute after:-bottom-15 after:right-0 after:w-15 after:h-15 after:bg-transparent after:rounded-full after:shadow-white
    hover:after:shadow-rounded-bottom
  }
}
@layer utilities {
  .hovered {
    @apply bg-white text-fuchsia-400 before:shadow-rounded-top after:shadow-rounded-bottom
  }
}